.App {                  /* 전체영역 */
  display: flex;
  flex-direction: column;
}
section {               /* 그래프 + 뉴스 영역 */
  padding: 2rem;
}
.contents {              /* 그래프 영역 */
  display: flex;
  justify-content: space-around;
}
.graph {                /* 그래프 각각 */
  width: 45%;
}
